<!DOCTYPE html>
<html>

<head>
    <title>安心導航</title>

    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
</head>

<body>

<h1>安心導航</h1>

<div id="layer-control">

    <h3>圖層控制</h3>

    <label>
        <input
            type="checkbox"
            id="osm-toggle"
            checked
        >
        OSM 道路
    </label>

    <br>

    <h3>安全特徵</h3>

    <label>
        <input
            type="checkbox"
            id="a1-toggle"
        >
        A1 交通事故
    </label>

    <br>

    <label>
        <input
            type="checkbox"
            id="drug-toggle"
        >
        毒品犯罪
    </label>

</div>

<div id="map"></div>

<script src="/static/js/google_map.js"></script>

<script src="/static/js/osm_layer.js"></script>

<script src="/static/js/safety_layer.js"></script>

<script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGxWaDtZh5VHbTnEmjUkQc0pitHq5cwVs&callback=initMap">
</script>

</body>

</html>